@import 'vars';

@mixin font-setting($weight, $size, $height, $color) {
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}

body {
    @include font-setting(400, 14px, 24px, $dark-violet);
    margin: 0 auto;
    width: 100%;
    height: max-content; 
    min-height: 100vh;
	background: linear-gradient(-50deg, $dark-violet, $light-violet, $pink, $beige);
	background-size: 400%;
    overflow-x: hidden;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header {
    padding-top: 30px;
    text-align: center;
}
main {
    padding: 30px;
    display: flex;
    justify-content: center;
}
h1{
    @include font-setting(700, 32px, 24px, $white);
    text-shadow: 1px 1px 20px $dark-violet;
}

.posts-content {
    width: 100%;
}
.post-card {
    margin-bottom: 25px;
    padding: 25px;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 25px;
    box-shadow: 1px 1px 10px $light-violet;
}
.post-author {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
        span {
            width: 20%;
            @include font-setting(600, 18px, 24px, $dark-violet);
        }
}
.post-author-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.post-title {
    padding-top: 15px;
    text-align: center;
}
.post-tags {
    display: flex;
    justify-content: center;
}
.post-tag-item {
    padding: 0 10px;
    background-color: $dark-violet;
    border-radius: 15px;
    @include font-setting(600, 14px, 24px, $pink);   
}
.post-tag-item:not(:last-child) {
    margin-right: 15px;
}
.post-description {
    text-indent: 30px; 
    text-align: justify;
    @include font-setting(500, 14px, 20px, $dark-violet);
}
.post-reactions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        span {
            margin-right: 4px;
            @include font-setting(600, 14px, 18px, $dark-violet);
        }
        img {
            transform: scale(-1, 1)
        }
}

@media (min-width: 600px) {
    .posts-content {
        width: 80%;
    }
    .post-card {
        padding: 40px;
    }
}
@media (min-width: 1024px) {
    h1{
        @include font-setting(700, 48px, 32px, $white);
    }
    .post-card {
        flex-direction: row;
        padding-left: 20px;
        margin-bottom: 50px;
    }
    .post-author {
        margin-right: 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
            span {
                width: 60%;
                text-align: center;
                @include font-setting(600, 24px, 26px, $dark-violet);
            }
    }
    .post-author-img {
        width: 200px;
        height: 200px;
        border-radius: 0%;
        margin-bottom: 15px;
    }
    .post-title {
        padding-top: 0px;
        @include font-setting(700, 24px, 24px, $dark-violet);
    }
    .post-description {
        @include font-setting(500, 20px, 28px, $dark-violet);
    }
}
@media (min-width: 1440px) {
    h1{
        @include font-setting(700, 48px, 32px, $pink);
    }

    .posts-content {
        width: 60%;
    }
    .post-card {
        padding: 50px;
    }
}
